@import 'text';
@import 'flex';

html {
  line-height: 1.4;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #ffffff;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  outline: 0;
  border: 0;
  background: transparent;
}

#app {
  .inline-block {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: 6px;
    .a-title {
      position: absolute;
      left: 10px;
      top: 9px;
      z-index: 1;
      color: #ddd;
    }
  }

  // input
  .el-input {
    width: 240px;
    .el-input__inner {
      padding-left: 120px;
    }
  }

  // select
  .el-select {
    width: 240px;
    .el-input__inner {
      padding-left: 160px;
      padding-right: 0;
    }
  }

  // 选择日期范围
  .el-date-editor--daterange {
    width: 500px;
    .el-range__icon {
      display: none;
    }
    .el-range-input:first-of-type {
      padding-left: 100px;
    }
  }
}

